main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(5, 1fr);
}

.card {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px black solid;
    cursor: pointer;
}

.card img { width: 200px; }

.card h2 { font-size: 1.3em; }


@media screen and (max-width:1200px) {
    .card-grid { grid-template-columns: repeat(3, 1fr); }
    .card img { width: 150px; }
}

@media screen and (max-width:600px) {
    .card-grid { grid-template-columns: repeat(2, 1fr); }
    .card img { width: 100px; }
    .card h2 { font-size: 1em; }
}