main, footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-grid {
    padding: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(5, 1fr);
}

.card {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px black solid;
    cursor: pointer;
}

.card img { width: 200px; }

.card h2 { font-size: 1.3em; }

footer p {
    padding: 20px; 
    font-size: 1.4em; 
}

@media screen and (max-width:1230px) {
    .card img { width: 100px; }
}

@media screen and (max-width:700px) {
    .card-grid { grid-template-columns: repeat(2, 1fr); }
}